# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Build
dist/
build/

# Pytest cache
.pytest_cache/

# Coverage
.coverage

# Processed data
data/processed/